body {
    margin: 0;
    padding: 0;
    background-color:#f1f1f1;
 }
html {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
}
.column{
    float: left;
    width: 25%;
    background-color:#f1f1f1;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.subtitulos{
    border-left: 6px;
    border-left-style: solid;
    color: white;
    border-color: rgb(245, 80, 15);
    background: rgb(194, 194, 194);
    font-family: 'Abel', sans-serif;
    padding: 8px 20px;
    margin-right: 20px;
}
.fondodivision{
    margin: 0px;
    position: relative;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border: 8px solid #f1f1f1;
}

#icongit{
    float: right;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 7px;
    width:50px;
    height:50px;
}
#iconfb{
    float: right;
    border-radius: 8px;
    margin-right: 5px;
    margin-top: 3px;
    width:58px;
    height:58px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-image: url(../Recursos/bgfooter.jpg);
    background-size: cover;
    color: white;
    text-align: center;
 }
#datospersonales {
    float: left;
    width: 30%;
    text-align: left;
    margin-left: 25px;
    font-family: 'Sulphur Point', sans-serif;

}
.titulos{
    font-size: 26px;
    color: rgba(248, 121, 1, 0.952);
}
#datoscurso {
    float: left;
    width: 30%;
    text-align: right;
    margin-right: 25px;
    margin-top: 75px;
    font-family: 'Sulphur Point', sans-serif;
    line-height: 2px;
}
.division {
    margin: 0px;
    position: relative;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6), 2px 0px 10px 2px rgba(0, 0, 0, 0.19);
    border: 6px solid dodgerblue;
}
.subdivision {
    margin: 0px;
    position: relative;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border: 20px solid #555;
}
#imagen {
    float: center;
    background-color: #555;
    border-bottom-style: solid;
    border-bottom-color: #555;
    width: 35%;
    text-align: center;
    color: white;
    font-family: 'Sulphur Point', sans-serif;
    line-height: 1px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.6), 5px 0px 15px 5px rgba(0, 0, 0, 0.19);
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
    background-color: #f1f1f1;
    overflow: auto;
  }
  
  li a {
    display: block;
    font-family: 'Abel', sans-serif;
    color: #000;
    padding: 8px 20px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(228, 98, 12);
    color: white;
  }

.bordeizquierdo{
    border-left: 3px;
    border-left-style: solid;
    border-block-end-color: rebeccapurple;
}